

.imageWrapper img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 60%;
}

.dotSection {
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
    height: 2.5vh;
    justify-content: center; /* Center align the dots */
}

.progressButton {
    z-index: 10;
    font-size: 2.75vh;
    line-height: 20px;
    flex: none;
    border: none;
    background-color: white;
    border-radius: 100%;
    width: 4vh;
    height: 4vh;
    overflow: none;
    transition: 0.2s;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 0.3vh;
}

.progressButton:hover {
    background-color: rgb(148, 148, 148)
}

.progressButton:active {
    background-color: white
}

.dots {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:  5;
    margin-top: 2.5vh;
}

.dotSolid, .dotEmpty {
    box-sizing: border-box;
    flex: 1;
    height: 14px;
    max-width: 14px;
    min-width: 14px;
    border-radius: 50%;
    border: none;
    background: none;
    padding: 0;
    margin-left: 1vw;
    margin-right: 1vw;
}

.dotSolid {
    background-color: maroon;
}
.dotEmpty {
    border: 2px solid maroon;
    cursor: pointer;
}

