#MatchPage {
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.MatchButton {
    display: inline-block;
    width: 70px;
    /* Adjust the size as needed */
    height: 70px;
    /* Same value for a perfect circle */
    border-radius: 50%;
    /* Makes the button round */
    border: none;
    box-shadow: 0px 5px 5px rgba(101, 101, 101, 0.5);
    text-align: center;
    line-height: 100px;
    /* Center text vertically */
    cursor: pointer;
    transition: 0.15s;
    margin: 10px 35px;
    z-index: 5; /* Make this clickable!! */
}

.ProfileDiv {
    margin: auto;
    margin-top: 4%;
    background: white;
    box-shadow: 0px 5px 5px rgba(101, 101, 101, 0.5);
    border-radius: 20px;
    width: 60%;
    height: 70%;
    transition: 0.5s;
}

#YesButton:hover {
    transform: translateY(-1px);
    background: #dddddd
}

#YesButton:active {
    transform: translateY(1px);
    background: #FFF
}

#NoButton:hover {
    transform: translateY(-1px);
    background: #dddddd
}

#NoButton:active {
    transform: translateY(1px);
    background: #FFF
}

#YesButton {
    background: #d4ffbc;
}

#NoButton {
    background: #ffbcbc;
}

.ProfileImage {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    z-index: 2;
}

.PositiveTraits {
    text-align: left;
    list-style-type: none;
    position: absolute;
    left: 25%;
    bottom: 27%;
    width: 17%;
    max-width: 17%;
    max-height: 20%;
    box-shadow: 0px 2px 5px rgba(101, 101, 101, 0.5);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
    line-height: 30px;
    background: rgb(191, 255, 179);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    overflow: hidden;
    border-radius: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    transition: 0.5s;
}

.LookingForTraits {
    list-style-type: none;
    text-align: left;
    position: absolute;
    right: 25%;
    width: 17%;
    box-shadow: 0px 2px 5px rgba(101, 101, 101, 0.5);
    bottom: 27%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2vw;
    line-height: 30px;
    max-height: 20%;
    background: rgb(255, 255, 197);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 10px;
    overflow: hidden;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    transition: 0.5s;
}

.ImageDiv {
    height: 25%;
    width: auto;
    box-shadow: 0px 2px 5px rgba(101, 101, 101, 0.5);
    display: flex;
    transition: 0.6s ease;
    border-radius: 20px;
    position: absolute;
    left: 25%;
    top: 16%;
    display: inline-block;
}

.ProfileBanner {
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 30%;
    /* Adjust the background color and opacity */
    color: #fff;
    /* Text color for overlay content */
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    align-items: center;
    z-index: 2;
}

.ImageDiv:hover {
    transform: scale(1.03);
}

.NameLabel {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    z-index: 2;
    position: absolute;
    left: 34%;
    top: 18%;
    margin-left: 8%;
    margin-bottom: 8%;
    transition: 0.5s;
}

.BioParagraph{
    position: absolute;
    left:42%;
    width:28%;
    height: 8%;
    top:22.5%;
    box-shadow: 0px 2px 5px rgba(101, 101, 101, 0.5);
    padding-left: 25px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 25px;
    background: rgb(244, 244, 244);
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1vw;
    text-align: left;
    transition: 0.5s;
}

.MatchDiv {
    text-align: center;
    position: absolute;
    /* margin-top: 1.5%; */
    /* left: 30vh; */
    z-index: -1;
    width: 83%;
    height: 93%;
    background-color: #fff7f2;
    /* margin-left: 1%; */
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(101, 101, 101, 0.5);
    overflow: hidden;
}

.ButtonIcon {
    width: 40px;
    height: 40px;
}