/* name.module.css */
.container {
    font-family: 'Roboto Slab', serif;
  }
  
  
  .major {
    font-weight: 450;
  }
  
  .bio {
    height: auto;
    border-radius: 8px;
    border: 1.7px solid maroon;
  }
  
  .bioText {
    margin-left: 4px;
    font-weight: 400;
  }
