.profile {
    display: vertical-flex;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 7.5vh;
    padding-bottom: 10vh;
}

.upperSide{
    display: flex;
}

.leftSide {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0vh;
    height: 20vh;
    width: 20vh;
    position: relative;
}

.bioContainer {
    background-color: white;
    border-radius: 5px;
    margin-top: 2.1vh;
    height: 100%;
    width: 100%;
    padding: 2%;
    box-shadow: 0px 0px 5px #888888;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
}

.bioTextArea {
    padding: 2%;
    background-color: rgba(255, 255, 255, 0);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-width: 0px;
    border-color: maroon;
    resize: none;
    height: 50%; /* Adjust as needed */
    width: 50%; /* Adjust as needed */
    font-weight: normal;
    border-radius: 1.5vw;
    margin-bottom: 0;
}


.profileOptions{
    margin:auto;
    column-count: 2;
    column-gap: 5vw;
}

.qnaItem{
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
    width: 25vw;
    box-shadow: 0px 0px 5px #888888;
    display:flex;
}

.profileItem{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    line-height: 1vh;
    display:inline;
    margin:0;
    padding:0;
    flex-grow:1;
}

.imageWrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.rightSide {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

.bottomSide{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.profileAnswer{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    display:inline;
    flex-grow:1;
    line-height: 1vh;
    margin:0;
    padding:0;
    text-align: right;
}

.name {
    font-size: 24px;
}