.profile {
    display: flex;
}

.leftSide {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 40vh;
    padding: 2vh;
}

.bioContainer {
    background-color: white;
    border-radius: 5px;
    margin-top: 2.1vh;
    min-height: 45%;
    padding: 2%;
    box-shadow: 0px 0px 5px #888888;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
}

.profileOptions{
    
}

.profileItem{
    background-color: white;
    border-radius: 5px;
    padding: 2%;
    box-shadow: 0px 0px 5px #888888;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
}

.imageWrapper {
    width: 100%;
}

.rightSide {
    display: flex;
    flex-direction: column;
    flex: 1.5;
}

.name {
    font-size: 24px;
}

.editableBio {
    width: 100%; /* Make it full width of the container */
    height: 95%;
    padding: 8px;
    border: none; /* Style the border as needed */
    border-radius: 4px;
    background-color: white;
    resize: vertical; /* Allow vertical resizing, or 'none' to disable */
    /* Add more styles as needed */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
}