.button-carousel {
    display: flex;
    justify-content: center;
    overflow: hidden; /* Hide overflow to create carousel effect */
    position: relative;
    width: 100%; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
  }
  
  .carousel-inner {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease; /* Smooth transition */
    white-space: nowrap; /* Ensure buttons are on a single line */
  }
  
  .dot {
    width: 40px; /* Size of the button */
    height: 40px; /* Size of the button */
    border-radius: 50%;
    background-color: gray; /* Default color */
    margin: 0 5px; /* Spacing between buttons */
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .inactive {
    background-color: gray; /* Color for inactive buttons */
  }

  .review-container {
    position: relative;
    height: 100px;
    overflow: hidden;
  }
  
  .reviewSlide {
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
    transform: translateX(0%);
  }
  
  .reviewSlide.exit {
    opacity: 0;
    transform: translateX(50%);
  }
  
  .reviewSlide.enter {
    opacity: 0;
    transform: translateX(50%);
  }

  .reviewSlide.active {
    opacity: 1;
    transform: translateX(0%);
  }
  